* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

body {
    background-color: #F2ECD8;
    color: #4A4842;
    min-height: 100vh;
}

footer, header { 
    background-color: #C9C4B3;
    height: 10vh;
    
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 1em;

    
}

footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

a {
    color: #78756B;
}
 li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

section {
    height: 50vh;
    width: 50vw;
}

.footerul { 
  gap: 5em;
}

